/*!
 *  Elusive Icons 2.0.0 by @ReduxFramework - http://elusiveicons.com - @reduxframework
 *  License - http://elusiveicons.com/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
 
 @font-face {
    font-family: "Amiri";
    src: url('../fonts/amiri-quran.eot') format('embedded-opentype'), url('../fonts/amiri-quran.woff') format('woff'), url('../fonts/amiri-quran.ttf') format('truetype');
	font-weight: normal;
  	font-style: normal;
}
.amiriFont {font-family: "Amiri"}


